# Rules mining v2

In [1]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve
from IPython.display import display, HTML
import sys
from itertools import combinations, groupby
from collections import Counter

In [36]:
# load the data
raw_df = pd.read_csv('export_with_basket_2017.csv', encoding = "utf-8")
raw_df['ART_C_PROD_NUMBER'].unique().size

7514

In [37]:
### let us dump the contents of the groups to the file
transactions_df = raw_df[['SCM_N_ORDER_NR_1', 'ART_C_PROD_NUMBER']]

In [38]:
transactions_df.head()

   SCM_N_ORDER_NR_1  ART_C_PROD_NUMBER
0          80391417             139428
1          81849313             523432
2          81849313             468126
3          83341895             445245
4          83341895             445245

In [39]:
transaction_groups = transactions_df.groupby('SCM_N_ORDER_NR_1')

In [41]:
for key, item in transaction_groups:
    print (transaction_groups.get_group(key), "\n\n")
    line = ""
    for prod_id in item.ART_C_PROD_NUMBER:
        line += " " + str(prod_id)
        
    print(line)    
    break

        SCM_N_ORDER_NR_1  ART_C_PROD_NUMBER
118194          80058730             572571
118195          80058730             527508
118196          80058730             451723
118251          80058730             527508
118252          80058730             497411
118253          80058730             527508
118254          80058730             207547
118255          80058730             572571


 572571 527508 451723 527508 497411 527508 207547 572571

In [42]:
### dump contents to the file
with open('transactions2017.dat', 'a') as the_file:
    for key, item in transaction_groups:
        # print (transaction_groups.get_group(key), "\n\n")
        line = ""
        for prod_id in item.ART_C_PROD_NUMBER:
            line += " " + str(prod_id)
        the_file.write(line + "\n")